<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <d class = "header">
        <h3>
            <i>Recommendations for you...</i>
        </h3> 
    </div>

    <table id = "recommended_movies">
        <tbody>
            <tr>
                {% for i in range(10) %}
                <td><a href="{{imdb[i]}}"><img src="{{posters[i]}}" alt=""></a><br> {{movies[i] }}</td>
                {% endfor %}
            </tr>
            </tr>
        </tbody>
    </table>
    <div id="go_back">
        <h4>
            <a href="/">Back to search</a>
        </h4>
    </div>
</body>
</html>